.accordion
    margin-bottom: $grid
.accordion--item 
    margin-bottom: $grid
    overflow: hidden
    label
        width: 100%
        margin: 0
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between
        &:after
            display: inline-block
            content: ''
            width: 2 * $grid
            height: 2 * $grid
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{3 * $grid}' height='#{3 * $grid}' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor($color-primary)}' d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E")
            background-size: 2 * $grid
            transform: rotate(90deg)
            margin-left: 2 * $grid
            margin-top: 3px
            transition: .3s
            flex: 0 0 auto
        &:before
            display: none!important
        > * 
            margin: 0
    .accordion--content
        max-height: 0
        overflow: hidden
        padding-bottom: 0
        transition: all 0.25s ease-in-out
        opacity: 0
        transform: translate(0, 50%)
    input:checked + label
        &:after
            transform: rotate(270deg)
        + .accordion--content
            max-height: 800px
            position: relative
            opacity: 1
            transform: translate(0, 0)