.block
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    z-index: 0
    background: #fff
    &--inner
        display: flex
        flex-direction: column
        flex: 1 1 auto
        justify-content: space-between
        align-items: flex-start
        .category
            color: $color-bg
            letter-spacing: 1.42px
            display: block
            text-transform: uppercase
            margin-bottom: $grid
        h3
            margin-bottom: $grid * 2
    + .block
        margin-top: $grid * 3
    &:not(:last-of-type)
        border-bottom: 1px solid $color-bg
        .block--inner
            padding-bottom: 3 * $grid
