// BREADCRUMBS BASED ON YOAST
.breadcrumbs
    // COLOR FOR DIVIDERS
    padding-top: $grid * 4
    color: $color-body-light
    text-transform: uppercase
    letter-spacing: 4px
    a
        color: $color-body-light
        &:hover
            color: $color-primary
    span.breadcrumb_last
        font-weight: 600