.buttons
    +clearfix()
    clear: both

.button
    display: inline-block
    padding: 14px $grid * 3
    letter-spacing: 1.42px
    background: $color-primary
    color: #fff
    font-weight: 600
    font-size: 16px
    transition: 0.15s
    cursor: pointer
    border-radius: 53px
    border: 2px solid transparent
    text-transform: uppercase
    line-height: 1em
    &:focus
        outline: none
    &:hover
        animation-name: boing
        animation-duration: 0.75s
    &:hover, &:focus, &:active
        color: $color-primary
        background: #ffffff
        border-color: $color-primary
    &.small
        padding: (1 * $grid) (2 * $grid)
        font-size: $font-small
    &.large
        padding: (2 * $grid) (5 * $grid)
        font-size: rem-calc(1)
    &.ghost
        border: 3px solid $color-primary
        background: none
        color: $color-primary
        box-shadow: none
        &.icon
            svg
                margin-left: $grid
                height: 2 * $grid
                *
                    fill: $color-secondary
        &:hover, &:focus, &:active
            color: #fff
            border-color: $color-primary
            background: $color-primary
            &.icon svg *
                fill: #fff
        
    &.icon
        position: relative
        display: inline-flex
        align-items: center
        svg
            margin-left: $grid
            height: 2 * $grid
            *
                fill: #fff
        &.small
            svg
                height: 14px
        &.large
            svg
                margin-left: 2 * $grid
                height: 20px
    &.done
        opacity: 0.1
        filter: grayscale(100%)
        cursor: default
    
    &.white
        background: #fff
        color: $color-primary
        &:hover, &:focus, &:active
            background: $color-primary
            color: #fff

.button-group
    .button + .button
        margin-left: $grid * 2

@include media-breakpoint-down(sm)
    .button
        width: 100%
        text-align: center
    .button-group
        .button + .button
            margin-left: 0
            margin-top: $grid * 2


.alm-filter
    display: inline-flex
    ul
        list-style: none
        padding: 0
        margin: 0
        display: flex
        li
            a
                display: inline-block
                padding: $grid $grid * 3
                letter-spacing: 1.42px
                font-weight: 600
                font-size: 16px
                transition: 0.15s
                cursor: pointer
                border-radius: 53px
                line-height: 1em
                border: 2px solid $color-primary
                background: none
                color: $color-primary
                &:hover
                    background: $color-primary
                    color: #fff
            + li
                margin-left: $grid
