.card
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    box-shadow: 0 2px 4px 0 rgba(148,148,148,0.5)
    z-index: 0
    height: 100%
    background: #fff
    .card--image
        padding-bottom: 75%
        background: #fff
    .card--content
        padding: 2 * $grid
        display: flex
        flex-direction: column
        flex: 1 1 auto
        justify-content: space-between
        align-items: flex-start
        .category
            color: $color-bg
            letter-spacing: 1.42px
            display: block
            text-transform: uppercase
            margin-bottom: $grid
        h3
            margin-bottom: $grid * 2
    .go-to
        margin-top: $grid
        align-self: flex-end
        svg
            height: 16px
        &:hover
            animation-name: boing
            animation-duration: 0.75s


@keyframes boing 
  0%
      transform: translateX(0)
  20%
      transform: translateX(-8px)
  60%
      transform: translateX(4px)
  100%
      transform: translateX(0)
