footer
    background-color: #fff
    color: $color-body
    .vertical-split
        display: flex
        flex-direction: column
        > *
            flex: 1 1 auto
            display: flex
            align-items: center
            padding: 0 $grid * 4
        
    section.content
        padding-top: 6 * $grid
        // padding-bottom: 6 * $grid
    ul
        +ul-reset()
        li
            white-space: nowrap
    a
        display: block
        padding-top: $grid / 2
        padding-bottom: $grid / 2
        color: #fff
        white-space: normal
        &:hover
            color: #fff
            text-decoration: underline
    #bottom-footer
        padding-top: 2 * $grid
        padding-bottom: 2 * $grid
        background: $color-body
        color: #fff
        font-size: $font-small
        #copyright
            margin-right: $grid * 2
        a
            display: inline-flex
            margin-left: $grid
    #redmelon 
        >a
            font-size: 0.8rem
            color: #fff
                

@include media-breakpoint-down(xs)
    footer
        li
            position: relative
            display: (block !important)
            a
                display: block
                padding-top: 11px
                padding-bottom: 11px
                line-height: 1.2em
            
    #bottom-footer 
        text-align: center                
    
@include media-breakpoint-up(sm)