form
    width: 100%
    +clearfix()
    
.inputwrap, .wpcf7-form-control-wrap
    position: relative
    margin-bottom: 2 * $grid
    display: block
    &.file
        border: 1px solid #ccc
        width: 100%
        padding: 0 15px
        +clearfix()
        label
            color: #999999

    &.single-line
        display: flex
        input:not([type=submit])
            border-top-right-radius: 0!important
            border-bottom-right-radius: 0!important
            border-right: none!important
        input[type=submit]
            flex: 1
            border-top-left-radius: 0!important
            border-bottom-left-radius: 0!important
textarea
    height: 150px
label
    margin: 0
    
input, textarea, select
    -webkit-appearance: none
    border: none
    outline: none
    resize: none
    padding: 18px (2 * $grid) 5px
    &:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=file])
        border: 2px solid #EBEBEB
        border-radius: 3px
        display: block
        width: 100%
        background: #fff
        + label 
            display: inline-block
            font-size: 1rem
            background: transparent
            position: absolute
            padding: 12px (2 * $grid)
            top: 1px
            left: 2px
            color: lighten($color-body, 10%)
            transition: 0.1s all
            cursor: text
            pointer-events: none
            margin: 0
        &.hasVal + label, &:focus + label, &[type=date] + label
            color: $color-body
            opacity: 1
            top: 5px
            left: (2 * $grid) + 2px
            padding: 0
            font-size: 0.667rem
        &[type=date]
            padding: 16px (2 * $grid) 5px

        &.invalid, &.wpcf7-not-valid
            border-color: $color-error
            &:focus 
                border-color: $color-primary
            & + label 
                color: $color-error
        &.valid
            border-color: $color-success
            &:focus 
                border-color: $color-primary
            & + label 
                color: $color-success
        &:focus 
            background: #fff
    &[type=radio], &[type=checkbox]
        display: none
        + label:not(.side-pull)
            cursor: pointer
            margin-right: 20px
            &:before
                content: ('')
                display: inline-block
                width: 15px
                height: 15px
                border: 1px solid $color-body
                margin-right: 10px
                background: #fff
                transition: 0.15s
        &:checked + label:not(.side-pull):before
            background: $color-primary
            border-color: $color-primary
            box-shadow: 0 0 0 3px #fff inset
        
    &[type=radio] + label:before 
        border-radius: 100px
select
    padding: 18px (2 * $grid) 5px
    + label
        color: $color-body!important
        opacity: 1!important
        top: 5px!important
        left: (2 * $grid) + 2px!important
        padding: 0!important
        font-size: 0.667rem!important
        
@include media-breakpoint-up(md)
    .multiple
        display: flex
        margin-left: -$grid
        margin-right: -$grid
        & .inputwrap
            flex-basis: 0
            flex-grow: 1
            max-width: 100%
            margin-left: $grid
            margin-right: $grid
        
                
div.wpcf7-response-output
    padding: 0
    margin: 30px 0 0 0
    border: none
div.wpcf7-mail-sent-ok
    color: #398f14

div.wpcf7-mail-sent-ng
    color: $color-error

div.wpcf7-spam-blocked
    color: $color-error

div.wpcf7-validation-errors
    color: $color-error
    
span.wpcf7-not-valid-tip
    display: none
    
    
.mc4wp-form
    max-width: 600px
    margin: 0 auto
    .mc-wrapper
        display: flex
        flex-flow: row wrap
        justify-content: flex-end
    .inputwrap
        flex: 1 1 auto
        margin-bottom: 0
        margin-top: $grid
    input[type=submit]
        margin-left: 3 * $grid
        margin-top: $grid
        
.disclaimer
    padding-top: $grid
    font-size: 0.667rem
    text-align: right
    clear: both
    white-space: nowrap

form.search, form.single
    position: relative
    input[type=text]
        border-radius: 50px!important
        padding-right: 50px
        padding: $grid ($grid * 2)
        font-size: $font-small
        border: none!important
    button[type=submit]
        border-radius: 100%

button[type=submit].icon
    position: absolute
    top: 0
    right: 0
    width: 38px
    height: 38px
    background: $color-secondary
    border: 0
    outline: 0
    display: flex
    justify-content: center
    align-items: center
