#overlay
    position: fixed
    width: 100%
    height: 100%
    background: rgba(black, 0.2)
    z-index: 9
    display: none
#top, #top img, #push, #top *
    transition: 0.3s height, 0.3s max-height, 0.3s background, 0.3s font-size
    
/* -- TOP MENU -- */  
#top
    position: fixed
    z-index: 9
    width: 100%
    #top-logo
        z-index: 10
        svg
            *
                fill: #fff
                transition: 0.3s
    &.scrolled
        background: #fff
        border-bottom: 2px solid $color-primary
        #top-logo
            svg
                *
                    fill: $color-third
#top
    #top-logo
        display: flex
        align-items: center
    li
        white-space: nowrap
        position: static
    nav
        /* First level */
        ul
            +ul-reset()
            transition: none
        > ul
            > li 
                > a
                    color: #fff
                    font-weight: 600
                    font-size: $font-small
                > ul
                    display: none
                    position: absolute
                    > li
                        display: block
@media (min-width: $size + 'px')
    .side-pull
        display: none

    #top
        position: fixed
        width: 100%
        z-index: 9
        #top-nav
            position: static
        .search
            width: 168px
            margin-left: $grid
            input[type=text], button[type=submit]
                transition: 0.15s
            input[type=text]
                background: rgba(white, 0.5)
            button[type=submit]
                background: #fff
                svg
                    *
                        fill: $color-secondary
        .row
            display: flex
        nav
            /* First level */
            display: flex
            > ul
                display: flex
                align-items: center
                flex-flow: row wrap
                > li
                    > a
                        padding: $grid * 3 0 ($grid * 3 + 2px)
                        margin: 0 $grid * 2 -2px
                        display: block
                        position: relative
                        &:after
                            content: ""
                            position: absolute
                            top: 50%
                            transform: translateY(calc(-50% + 1em))
                            left: 0
                            width: 0
                            background: $color-primary
                            height: 3px
                            border-radius: 3px
                            transition: width 0.15s ease-in-out
                    &.current-menu-item, &.current_page_item, &.current-menu-parent, &.current-page-ancestor
                        > a
                            &:after
                                content: ""
                                position: absolute
                                bottom: 50%
                                left: 0
                                width: $grid * 4
                                background: $color-primary
                                height: 3px
                                border-radius: 3px
                    &:hover
                        > a
                            &:after
                                animation-name: menuHover
                                animation-duration: 0.6s
                                animation-fill-mode: forwards
                    &.menu-item-has-children:hover
                        > a
                            &:before
                                content: ""
                                width: 0 
                                height: 0 
                                border-left: 12px solid transparent
                                border-right: 12px solid transparent
                                border-top: 16px solid darken($color-third, 10%)
                                position: absolute
                                top: 100%
                                left: 50%
                                transform: translateX(-50%)
                                z-index: 10
                            
                    &:hover > ul
                        display: block
                        min-width: 100%
                    /* Second level */
                    > ul
                        top: calc(100% + 2px)
                        left: 0
                        background: $color-third
                        padding-top: $grid * 2
                        padding-bottom: $grid * 2
                        li a
                            font-size: font-small
                            font-weight: normal
                            color: #fff
                        div
                            display: flex
                            flex-wrap: wrap
                            > li
                                display: inline-block
                                flex: 0 0 25%
                                max-width: 25%
                                > a
                                    text-decoration: underline
                                    &:hover
                                        color: $color-primary
                                &.current-menu-item, &.current_page_item
                                    > a
                                        color: $color-primary

                                > ul
                                    display: block
                                    > li
                                        > a
                                            font-size: $font-small
                                            &:before
                                                content: ">"
                                                color: $color-primary
                                                margin-right: $grid
                                        &.current-menu-item, &.current_page_item, &:hover
                                            > a
                                                color: $color-primary

        &.scrolled, &:hover
            background: #fff
            border-bottom: 2px solid $color-primary
            #top-logo
                svg
                    *
                        fill: $color-third
            form.search
                input[type=text]
                    background: $color-bg
                button[type=submit]
                    background: $color-secondary
                    svg
                        *
                            fill: #fff
            nav
                > ul > li 
                    > a
                        color: black
                    &.menu-item-has-children:hover
                        > a
                            &:before
                                top: calc(100% - 2px)
                                border-top-color: #fff


@media only screen and (max-width: $size - 1 + 'px')
    #main-nav, #top-logo
        height: $top-height-scrolled
    #main-nav
        z-index: 9
    #top-logo
        position: relative
        // padding-right: 140px
        img
            max-height: $top-height-scrolled - 16px
    
    #push
        height: $top-height-scrolled
    
    #top
        background: transparent
        #top-nav
            form.search
                display: none
        .container
            max-width: unset
    .side-pull
        &:after, &:before
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: -$grid * 2
            background: $color-primary
            width: 100px
            height: 40px
            border-top-left-radius: 40px
            border-bottom-left-radius: 40px
            z-index: -1
            transition: 0.3s ease-in-out
            pointer-events: none
        &:before
            background: $color-third
            transition-delay: 0.15s
            transition: 0.5s ease-in-out

    .side-pull
        position: absolute
        top: 50%
        margin-top: - $sidepullsize / 2
        right: 15px
        width: $sidepullsize
        height: $sidepullsize
        cursor: pointer
        float: none
        transition: all 0.3s
        z-index: 8
        margin-right: 0!important
        >span 
            position: absolute
            top: 50%
            margin-top: - $sidepullsize / 16
            width: 100%
            height: $sidepullsize / 8
            background-color: $hamburger
            border-radius: 3px
            transition: all 0.15s
            &:before, &:after
                content: ""
                position: absolute
                width: inherit
                height: inherit
                background-color: $hamburger
                border-radius: inherit
                transition: all 0.3s
            &:before
                transform: translateY(-$sidepullsize / 3)
            &:after
                width: 20px
                transform: translateY($sidepullsize / 3)
        > i 
            position: absolute
            top: 50%
            right: calc(100% + #{$grid})
            transform: translateY(-50%)
            text-transform: uppercase
            opacity: 1
            width: auto
            font-style: normal
            color: $hamburger
            font-size: 14px
            transition: 0.15s ease-in-out
        
        #nav-toggle:checked + &
            &:before
                width: calc(100vw + #{$grid} * 2)
                height: 100vh
                top: -24px
                transform: none
                border-radius: 0
                transition-delay: 0
            &:after
                width: 56px
                transition-delay: 0.15s
            >span
                background: transparent
                &:before, &:after
                    background-color: $hamburger-open
                &:before
                    transform: rotate(-45deg)
                &:after
                    width: 24px
                    transform: rotate(45deg)
            > i
                opacity: 0
        // #nav-toggle:checked + label:after

@keyframes menuHover
    20%
        width: 10px
        left: -5px
    60% 
        left: 8px
        width: 42px
    100%
        left: 0
        width: 30px