.image-comparison
    position: relative
    overflow: hidden
    img
        user-select: none
    .resizeable-image
        position: absolute
        height: 100%
        left: 0
        top: 0
        width: 50%
        overflow: hidden
        img
            position: absolute
            left: 0
            top: 0
            display: block
            height: 100%
            width: auto
            max-width: none
    &--handler
        width: 72px
        height: 72px
        opacity: 0
        background: rgba(black, 0.4)
        border: 4px solid #fff
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        border-radius: 100%
        cursor: move
        &:after, &:before
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 0
            height: 0
            border-top: 10px solid transparent
            border-bottom: 10px solid transparent
            
        &:before
            border-right: 12px solid #fff
            left: 10px
        &:after
            border-left: 12px solid #fff
            right: 10px
    &--border
        position: absolute
        width: 4px
        height: 2000px
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        &:before, &:after
            content: ""
            position: absolute
            width: 100%
            background: #fff
            height: calc(50% - 35px)
            top: 0
        &:after
            bottom: 0
            top: auto
    &.is-visible
        .resizeable-image
            animation-name: bounce-in
            animation-duration: 1.2s
            // animation-fill-mode: forwards
        .image-comparison--handler
            animation-name: grow-in
            animation-duration: 0.3s
            animation-fill-mode: forwards
            animation-delay: 1s

@keyframes bounce-in
    0%
        width: 50%
    40%
        width: 40%
    75%
        width: 55%
    100% 
        width: 50%

@keyframes grow-in
    0%
        opacity: 0
        height: 0
    100% 
        opacity: 1
        height: 72px


@include media-breakpoint-down(sm)
    .image-comparison
        &--handler
            width: 44px
            height: 44px
            border-width: 3px
            &:before, &:after
                border-top: 7px solid transparent
                border-bottom: 7px solid transparent
            &:before
                left: 6px
                border-right: 9px solid #fff
            &:after
                right: 6px
                border-left: 9px solid #fff
        &--border
            height: 500px
            width: 3px
            &:before, &:after
                height: calc(50% - 22px)
    @keyframes grow-in
        0%
            opacity: 0
            height: 0
        100% 
            opacity: 1
            height: 44px
