/* -- INLINE IMAGE WITH BACKGROUND-SIZE COVER EFFECT -- */
.inline-cover
    overflow: hidden
    position: relative
    background-position: 50% 50%
    background-size: cover
    z-index: 0
    > img, > video
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: none
        min-width: 100%
        min-height: 100%
        max-width: none
        z-index: -1
        &.vertical 
            width: 100%
            height: auto
        &.horizontal
            width: auto
            height: 100%