ul
    list-style-type: none
    &:not(.no-list):not(.slick-dots)
        li:before
            content: ('')
            margin-top: 7px
            width: 8px
            height: 8px
            border-radius: 15px
            background: $color-primary
        ul 
            li:before
                background: none
                border: 1px solid $color-primary
            ul    
                li:before
                    background: $color-primary
                    border-radius: 0
                ul    
                    li:before
                        background: none
                        border-radius: 0
                    
        &.checks
            li
                font:
                    size: 14px
                    weight: 600
                margin-bottom: 4 * $grid
                &:before
                    margin-top: -12px
                    transform: translateY(50%)
                    height: 3 * $grid
                    width: 3 * $grid
                    background: $color-primary url(../images/icon-check.svg) 50% 50% no-repeat
                        size: 10px
    
ol 
    counter-reset: item
    li:before 
        color: $color-primary
        font-size: 0.779rem
        line-height: 1.42857rem
        content: (counters(item, ".") ". ")
        counter-increment: item
    
ul, ol
    li  
        display: block
        position: relative
        &:before
            position: absolute
            right: calc(100% + 1em)