@function encodecolor($string)
	@if type-of($string) == 'color'
		@if $string != transparent
        $hex: str-slice(ie-hex-str($string), 4)
        $string: unquote("#{$hex}")
        $string: '%23' + $string
	@return $string
    
@function power-calc($number, $exponent)
    $value: 1
    @if $exponent > 0
    @for $i from 1 through $exponent
        $value: $value * $number
    @return $value
    
@function rem-calc($x)
    $rem: power-calc($font-size-ratio, $x) * 1rem
    @return $rem

=ul-reset()
    margin: 0
    padding: 0
    list-style-type: none
    & li:before
        display: none

=arrow-down($size, $color, $rotate)
    top: 50%
    margin-top: - $size / 2
    border-top: $size solid $color
    border-left: $size solid transparent
    border-right: $size solid transparent
    transform: rotate($rotate)

=bg-cover()
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    
=pos-ab()
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

=clearfix()
    &:before, &:after
        content: ""
        display: table
    &:after
        clear: both
    
=pull()
    .pull
        cursor: pointer
        background: $color-body
        margin: 0
        &:after
            content: ('')
            display: block
            position: absolute
            top: 0
            right: 0
            width: 44px
            height: 44px
            background: url(../images/arrow.svg) 50% 50% no-repeat
                size: 16px
            // transform: rotate(90deg)
            transition: all 0.2s ease-in-out
        &.open
            &:after
                transform: rotate(180deg)
        + ul
            display: none