.pagination
    margin-top: $grid * 6
    .alm-paging
        list-style: none
        padding: 0
        margin: 0
        display: flex
        justify-content: center
        li
            margin: 0 $grid / 2
            a
                width: $grid * 4
                height: $grid * 4
                display: flex
                align-items: center
                justify-content: center
            &.num
                a
                    border: 2px solid $color-secondary
                    border-radius: 100%
                    color: $color-secondary
                    line-height: 1em
                &.active, &:hover
                    a
                        background: $color-secondary
                        color: #fff