// RATINGS AS STARS

$starSize: 2 * $grid
.stars
    height: $starSize
    width: $starSize * 5
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor(#fff)}' d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E")
    background-size: $starSize
    position: relative
    .stars-inner 
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodecolor($color-primary)}' d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
        background-size: $starSize
    &.x2
        height: $starSize * 2
        width: $starSize * 5 * 2
        background-size: $starSize * 2
        .stars-inner 
            background-size: $starSize * 2
    &.x3
        height: $starSize * 3
        width: $starSize * 5 * 3
        background-size: $starSize * 3
        .stars-inner 
            background-size: $starSize * 3
    &.x4
        height: $starSize * 4
        width: $starSize * 5 * 4
        background-size: $starSize * 4
        .stars-inner 
            background-size: $starSize * 4