.slider
    &.margins
        .slick-list
            margin: 0 -$grid * 2
            .slick-slide
                margin: $grid $grid * 2

.slider
    .slick-slide,
        .slide:focus,
        .slide:active,
            outline: 0
.slick-arrow
    width: $grid * 5
    height: $grid * 5
    background: $color-secondary
    outline: 0
    border: 0
    border-radius: 100%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    &.prev
        left: 16px
    &.next
        right: 16px
    &.slick-disabled
        opacity: 0.5
        cursor: not-allowed
    &:hover, &:focus, &:active
        outline: 0

.slider:not(.full-width)
    position: relative
    margin: 0 $grid * 6
    padding: $grid * 2 0
    overflow: hidden

.slider-navigation
    display: flex
    align-items: center
    flex-direction: row-reverse
    justify-content: space-between
    margin-top: $grid * 5
    ul
        list-style: none
        margin: 0
        padding: 0
        display: inline-flex
        li
            font-size: 0
            button
                background: none
                border: 0
                outline: 0
                border: 2px solid $color-secondary
                height: 18px
                width: 18px
                border-radius: 100%
            &.slick-active
                button
                    background: $color-secondary
            + li
                button
                    margin-left: $grid
    .slider-arrows
        display: flex
        align-items: center
        .slider-button.slick-arrow
            position: static
            transform: none
            width: $grid * 4
            height: $grid * 4
            background: $color-secondary
            border-radius: 100%
            display: inline-flex
            align-items: center
            justify-content: center
            outline: 0
            border: 0
            + .slider-button
                margin-left: $grid * 2
                svg
                    height: $grid * 2

@include media-breakpoint-down(md)
    .slider-navigation
        margin-top: $grid * 2

.slider.project
    .slick-list
        overflow: visible!important
    .slick-track
        display: flex
        align-items: flex-end
    .slick-slide
        .slide
            height: calc(100vh - #{$top-height})
            transition: 0.3s
            transition-delay: 0.3s
            opacity: 0.5
            &:after
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 65%,rgba(0,0,0,0.2) 100%)
                z-index: -1
            .project--logo
                position: absolute
                top: 40px
                right: 40px
            .project--meta
                position: absolute
                bottom: 40px
                right: 40px
                color: #fff
                font-size: rem-calc(1)
                text-transform: uppercase
        &.slick-center
            .slide
                height: calc(100vh - #{$top-height})!important
                opacity: 1
            ~ .slick-slide .slide
                height: calc((100vh - #{$top-height}) - 104px)
@include media-breakpoint-down(lg)
    .slider.project
        .slick-slide
            .slide
                height: 500px
            &.slick-center
                .slide
                    height: 500px!important
                ~ .slick-slide .slide
                    height: 400px
    .slider-navigation
        margin-top: $grid * 5
@include media-breakpoint-down(md)
    .slider.project
        .slick-slide
            .slide
                height: 400px
            &.slick-center
                .slide
                    height: 400px!important
                ~ .slick-slide .slide
                    height: 300px
    .slider-navigation
        margin-top: $grid * 5
@include media-breakpoint-down(sm)
    .slider.project
        margin: 0 -16px
        .slick-slide, .slick-slide.slick-center, .slick-slide.slick-center ~ .slick-slide
            .slide
                height: 300px!important
                opacity: 1
    .slider-navigation
        margin-top: $grid

    
.slider.method
    counter-reset: steps
    &:before
        content: ""

        position: absolute
        top: 8px
        left: 0
        height: calc(100% - 16px)
        background: #fff
        width: 1px
    &:after
        content: ""
        position: absolute
        top: 8px
        right: 0
        height: calc(100% - 16px)
        background: #fff
        width: 1px
    .slick-list
        .slick-slide
            .slide
                padding: $grid * 2
                border: 1px solid #fff
                counter-increment: steps
                &:before
                    content: counters(steps, "", decimal-leading-zero)
                    background: transparent
                    font-size: rem-calc(3)
                    font-weight: bold
section.bg:not(.gradient)
    .slider.method
        .slick-list .slick-slide .slide
            background: #fff
            box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2)
        // &:before, &:after
        //     background: transparent
        //     box-shadow: 0 0px 9px 0 rgba(0,0,0,1)
        // &:before
        //     left: -1px
        //     z-index: 99999999
        // &:after
        //     right: -1px
@include media-breakpoint-down(lg)
//     button[data-slider='method']
//         display: none

@include media-breakpoint-down(md)
    .slider.method
        margin: 0
    button[data-slider='method']
        display: none!important

@include media-breakpoint-down(xs)
    .slider.method
        overflow: visible
        margin: 0
        &:before, &:after
            display: none


.slider.quote
    .slick-list
        .slick-slide
            .slide
                padding: 0 $grid * 4

@include media-breakpoint-down(md)
    .slider.quote
        margin: 0


.slider.logo
    .slick-list
        .slick-slide
            .slide
                background: #fff
                position: relative
                img
                    padding: $grid * 2
                    width: 100%
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    height: auto
