
$start: 0
$end: 12


@include media-breakpoint-down(sm)
    .full-width
        > *
            width: 100vw
            transform: translateX(-#{$grid * 2})

@each $breakpoint in map-keys($grid-breakpoints)
    @include media-breakpoint-up($breakpoint)
        .row.split
            @for $i from $start through $end
                .outside.col-#{$breakpoint}-#{$i}
                    position: static
                    > *
                        z-index: 0
                        position: absolute
                        top: 0
                        height: 100%
                        width: calc((#{map-get($container-max-widths, $breakpoint)} / 12 * #{$i}) + ((100vw - #{map-get($container-max-widths, $breakpoint)}) / 2) - #{$grid} * 2)
                        transform: none
        .full-width-#{$breakpoint}
            > *
                width: 100vw
                transform: translateX(calc(((#{map-get($container-max-widths, $breakpoint)} - 100vw) / 2) - #{$grid * 2}))

.row.split
    .outside
        &:first-of-type
            > *
                left: 0
        &:last-of-type
            > *
                right: 0