/* -- TYPOGRAPHY -- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
    font-family: $font-secondary
    color: $color-body
    line-height: 1.1em
    margin-bottom: $grid
    font-weight: 700
    + p
        margin-top: $grid * 2
    mark
        color: $color-primary
        background: transparent
    &.white, .c-white &
        color: #fff
    figure + &
        margin-top: $grid * 3
    &.decoration
        position: relative
        margin-bottom: 1.25em
        &:before, &:after
            content: ""
            position: absolute
            left: 0
            height: 5px
            background: #333333
            width: 30px
            border-radius: 5px
            top: calc(100% + #{$grid})
            animation-timing-function: ease-in-out
        &:after
            width: 85px
            left: 0
            transform: translateY($grid * 2)
            animation: test123 2.5s infinite
            // animation-duration: 0.75s
            // animation-fill-mode: forwards
        &:before
            animation: test1234 2.5s infinite
    + .button
        margin-top: $grid * 4


h1, .h1
    font-size: rem-calc(6)
    &.big
        font-size: rem-calc(16)
    
h2, .h2
    font-size: rem-calc(5)
    
h3, .h3
    font-size: rem-calc(4)
    
h4, .h4
    font-size: rem-calc(3)
h5, .h5
    font-size: rem-calc(2)
h6, .h6
    font-size: rem-calc(1)
p
    margin-bottom: $grid
    line-height: 1.88rem
    + h2, + h3, + h4, + h5, + figure, figure + &, 
        margin-top: $grid * 3
    + .button, +.button-group
        margin-top: $grid * 3
    &:last-child
        margin-bottom: 0
    &.lead
        font-size: rem-calc(1)

small
    font-size: $font-small
.marked
    color: $color-primary

a
    color: $color-primary
    display: inline-flex
    align-items: center
    &:hover, &:focus
        text-decoration: none
        color: $color-primary
    &.read-more
        text-transform: uppercase
        letter-spacing: 1.42px
        color: $color-primary!important
        font-weight: bold
    span.icon
        margin-right: $grid
        // height: $grid * 2

.icon + *
    margin-top: $grid * 2
    
@include media-breakpoint-down(sm)
    h1, .h1
        font-size: rem-calc(5)
        header#main &
            font-size: rem-calc(5)
    h2, .h2
        font-size: rem-calc(4)
    h3, .h3
        font-size: rem-calc(3)
    h4
        font-size: rem-calc(2)
    h5
        font-size: rem-calc(1)
    h6
        font-size: 1rem
    p.lead
        font-size: rem-calc(1)


@keyframes test123
    0%
        width: 85px
    50%
        width: 20px
    80%
        width: 85px
    100%
        width: 85px
@keyframes test1234
    0%
        width: 30px
    50%
        width: 85px
    80%
        width: 30px
    100%
        width: 30px