@import "variables"
@import "bootstrap-reboot"
@import "bootstrap-grid"
@import "mixins"

@import "buttons"
@import "header"
@import "footer"
@import "typography"
@import "forms"
@import "inline-cover-images"
@import "imageComparison"
// @import "lists"
@import "cards"
@import "blocks"
@import "accordion"
@import "pagination"
@import "breadcrumbs"
@import "ratings"
@import "split"
@import "slider"

//@import 'menus/sidemenu'
@import 'menus/bigmenu'

/* ---- BODY ---- */
html, body
    font-size: $base-font-size
    display: flex
    width: 100%

body
    font-family: $font-primary
    color: $color-body
    min-height: 100vh
    flex-direction: column
    #wrapper
        flex-grow: 1
        overflow: hidden
    
ul.no-list
    padding: 0
    margin: 0   
    list-style: none
/* ---- INTERFACE ---- */
div.backdrop
    position: relative
    &:after
        content: ""
        width: 110%
        height: 135%
        max-height: 440px
        background: $color-bg
        position: absolute
        top: -96px
        left: calc(50% + 32px)
        transform: translateX(-50%)
        z-index: -1

.row + .row, .container:not(section) + .container:not(section)
    margin-top: $grid * 16

.filter
    margin-bottom: $grid * 6

section.backdrop
    position: relative
    min-height: 350px
    &:after
        z-index: -1
        content: ""
        width: 100%
        height: 240px
        background: $color-bg
        position: absolute
        top: 110px
        left: 0


@include media-breakpoint-down(lg)
    .backdrop:after
        width: 100vw
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 115%

img
    max-width: 100%

.flex
    display: flex
    
.centered
    text-align: center
.alignright
    float: right
    text-align: right
.alignleft
    float: left
    text-align: left
.fl-l 
    float: left
.fl-r
    float: right
    
figure
    margin-bottom: 0
    
.overflow-h
    overflow: hidden
    
.row.margins
    margin-bottom: -(4 * $grid)
    > [class^="col"]
        margin-bottom: (4 * $grid)
        
.square
    height: 0
    padding-bottom: 100%

.semi-square
    height: 0
    padding-bottom: 75%
    
.video-wrapper, .ratio
    display: block
    width: 100%
    height: 0
    padding-bottom: 56.25%
    position: relative
    margin-bottom: 4 * $grid
    iframe, figure
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        
@include media-breakpoint-up(md)
    .cols
        columns: 2

.bg
    background: $color-bg
    &.blue
        background: $color-third
        &.gradient
            background: linear-gradient(270deg, $color-third 0%, #05265E 100%)
        &.dark
            background: darken($color-third, 10%)
        *
            color: #fff
            &:after, &:before
                background-color: #fff
        
/* ---- CONTENT ---- */
.overlay
    &:after
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba($color-primary, 0.8)
    .container
        position: relative
        z-index: 10

.row.no-space-between
    > [class^="col"]
        &:first-of-type
            padding-right: 0
        &:last-of-type
            padding-left: 0
        &:not(:first-of-type):not(:last-of-type)
            padding-left: 0
            padding-right: 0

section
    position: relative
    &.big-slider
        min-height: calc(100vh - #{$top-height})
        max-height: 1080px
    &.full-width
        padding-left: 4 * $grid
        padding-right: 4 * $grid
    &.content
        padding-top: 10 * $grid
        padding-bottom: 10 * $grid
        &.xl 
            padding-top: 14 * $grid
            padding-bottom: 14 * $grid
    &.overlay
        h1, .h1, h2, .h2
            color: #fff
            &:after, &:before
                background: #fff
    > .leaf
        content: ""
        width: 51px
        height: 51px
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.392 16.97C50.982 9.02 51 2.728 51 2.464A1.464 1.464 0 0 0 49.535 1c-.264 0-6.555.018-14.504 1.608a70.74 70.74 0 0 0-8.027 2.082l-.05.016A55.894 55.894 0 0 0 22.3 6.45a44.615 44.615 0 0 0-5.184 2.62c-2.505 1.487-4.69 3.157-6.53 4.996A19.21 19.21 0 0 0 4.923 27.74c0 4.674 1.647 9.094 4.666 12.6L1.43 48.5a1.464 1.464 0 1 0 2.072 2.07l8.16-8.16a19.194 19.194 0 0 0 12.599 4.667 19.211 19.211 0 0 0 13.674-5.663c1.84-1.84 3.51-4.027 4.996-6.531a44.608 44.608 0 0 0 2.62-5.183 55.887 55.887 0 0 0 1.76-4.7 70.8 70.8 0 0 0 2.082-8.03zM35.549 5.491a83.598 83.598 0 0 1 12.479-1.52 83.586 83.586 0 0 1-1.52 12.48 68.524 68.524 0 0 1-1.682 6.664h-13.87l8.52-8.52a1.465 1.465 0 0 0-2.071-2.073l-8.52 8.521V7.174a68.524 68.524 0 0 1 6.664-1.682zm5.312 27.102H21.477l6.549-6.548h15.813c-.814 2.21-1.795 4.434-2.978 6.548zM25.955 8.161v15.813l-6.55 6.548V11.139c2.115-1.183 4.338-2.164 6.55-2.978zM7.852 27.74a16.3 16.3 0 0 1 4.806-11.602 28.13 28.13 0 0 1 3.818-3.172v20.486L11.67 38.26a16.282 16.282 0 0 1-3.817-10.52zm28.01 11.602a16.302 16.302 0 0 1-11.602 4.805c-3.89 0-7.574-1.346-10.52-3.816l4.808-4.807h20.486a28.137 28.137 0 0 1-3.172 3.818z' fill='%23784FC6' fill-rule='nonzero' stroke='%23784FC6'/%3E%3C/svg%3E")
        position: absolute
        top: calc(80px - 30px)
        right: 30%
        // &.animate
        //     animation: leafAnimation 5s ease-in-out forwards
    
    &.page-intro
        height: 0px
        padding-bottom: 120px
        [class*="col"]
            .page-intro--inner
                height: 420px
                padding: $grid * 3
                margin-top: -300px
                background: #fff
                box-shadow: 4px 4px 20px 0 rgba(148,148,148,0.5)
                border-radius: 5px
            p
                font-size: rem-calc(2)

    &.bg, &.inline-cover, &.overlay, &.contact-form--mobile
        + section.bg, + section.inline-cover, + .section.overlay
            margin-top: $grid * 10


@include media-breakpoint-down(lg)
    section.big-slider
        height: 500px
        min-height: unset
@include media-breakpoint-down(md)
    section.content
        padding-top: 5 * $grid
        padding-bottom: 5 * $grid
    section.big-slider
        height: 400px
        min-height: unset
        
@include media-breakpoint-down(xs)
    section
        &.content
            padding-top: 6 * $grid
            padding-bottom: 6 * $grid
// HEADER
header
    display: flex
    align-items: center
    height: 600px
    position: relative
    &#main
        height: 100vh
    &:after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(3,3,3,0.75) 0%, rgba(0,0,0,0) 90%)
        z-index: -1
@include media-breakpoint-down(md)
    header
        &#main
            height: 400px
        
        
@include media-breakpoint-down(sm)
    header
        .header-inner
            padding-top: 6 * $grid
            padding-bottom: 6 * $grid

.vertical-usps
    margin-top: -55px
    li 
        text-transform: uppercase
        display: flex
        align-items: center
        .icon
            margin-right: $grid * 2
            width: 70px
            flex: 0 0 auto
            display: flex
            justify-content: center
        + li 
            margin-top: $grid * 4

.horizontal-usps
    border-top: 1px solid $color-bg
    border-bottom: 1px solid $color-bg
    padding-top: $grid
    padding-bottom: $grid
    .icon
        margin-right: $grid
        svg
            height: 28px
            *
                fill: $color-secondary

@include media-breakpoint-down(lg)
    .vertical-usps
        margin-top: 0


.contact-form--mobile
    display: none
    margin-top: -$grid * 13
    padding-bottom: $grid * 5
@keyframes popUpAnimation
    0%
        opacity: 0
        top: 60%
    100% 
        top: calc(50% - #{$top-height} / 2)
        opacity: 1

blockquote
    font-size: rem-calc(3)
    font-weight: 700

.boxed
    padding: $grid * 4
    background: #fff
    border-radius: 5px

.u

.toggle-filter
    position: relative
    margin-bottom: $grid * 7
    ul
        display: flex
        list-style: none
        padding: 0
        margin: 0
        justify-content: center
        li
            text-transform: uppercase
            width: 120px
            letter-spacing: 1.42px
            font-weight: bold
            a
                color: $color-body
                &.active
                    color: $color-primary
        li:first-of-type
            margin-right: 140px
        li:last-of-type
            // margin-left: 60px
    .toggle
        width: 80px
        height: 24px
        background: rgba($color-primary, 0.5)
        border-radius: 22px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        &:after
            content: ""
            position: absolute
            background: $color-primary
            top: 50%
            transform: translateY(-50%)
            width: 30px
            height: 30px
            border-radius: 100%
            transition: 0.2s ease-in-out
            left: 0
        &[data-index='0']
            &:after
                left: 0
        &[data-index='1']
            &:after
                left: calc(100% - 30px)

blockquote
    position: relative
    // &:after
    //     content: ""
    //     width: 30px
    //     height: 30px
    //     background: $color-secondary
    //     position: absolute
    //     top: 0px
    //     right: 40px
    .author
        text-transform: uppercase
        font-size: $font-small
        display: block
        letter-spacing: 3.95px
        color: $color-body-light
        font-weight: normal
        margin-bottom: $grid * 4
    + .button
        margin-top: $grid * 2


@keyframes leafanimation 
    0% 
        transform: translate(900px,500px)
    80% 
        transform: translate(0,0)
    100% 
        transform: translate(0,0)
