#overlay 
    background: none

@media only screen and (max-width: $size - 1 + 'px')
    #top
        +pull()
        .row
            position: relative
            >.div
                padding-left: 0
                padding-right: 0
        nav
            position: fixed
            top: 80px
            left: 0
            height: calc(100% - 80px)
            width: 100%
            background: transparent
            z-index: 10
            overflow-y: auto
            overflow-x: hidden
            opacity: 0
            visibility: hidden
            transition: 0.3s
            flex-direction: column
            >ul
                max-height: 100%
                // padding: 50px 0 5%
            ul
                width: 100%
                max-width: 100%
            li
                position: relative
                opacity: 0
                display: (block !important)
                a
                    display: block
                    padding: $grid * 1 0
                    line-height: 1.2em
                    white-space: initial
                    font-size: $font-small
            >ul
                padding-left: $grid * 2
                padding-right: $grid * 2
                >li
                    border-bottom: 1px solid white
                    >a
                        font-weight: bold
                        color: #fff
                    &.menu-item-has-children
                        .pull:after
                            height: rem-calc(1)*2
                    >ul
                        position: relative
                        li
                            > a
                                color: #fff
                                font-size: $font-small
                                padding-left: $grid * 2
                            &:not(.menu-item-has-children)
                                > a
                                    font-weight: normal
                                    &:before
                                        content: ">"
                                        color: $color-primary
                                        margin-right: $grid
                            &.menu-item-has-children
                                .pull
                                    display: none!important
                                > a
                                    font-weight: bold
                                > ul
                                    display: block
                                    > li
                                        > a
                                            padding-left: $grid * 2
                            >span
                                font:
                                    size: 1rem
                                    weight: 600
                                color: $color-body
                                text-transform: uppercase
        #nav-toggle:checked ~ #top-nav>nav
            visibility: visible
            opacity: 1
            zoom: 1
            li
                animation: fadeInRight .5s ease forwards
                    delay: 0.05s
        #nav-toggle:checked ~ #top-logo
            a svg
                *
                    fill: #fff!important


@-webkit-keyframes fadeInRight
    from
        opacity: 0
        -webkit-transform: translate3d(100%, 0, 0)
        transform: translate3d(100%, 0, 0)

    to
        opacity: 1
        -webkit-transform: none
        transform: none


@keyframes fadeInRight
    from
        opacity: 0
        -webkit-transform: translate3d(100%, 0, 0)
        transform: translate3d(100%, 0, 0)

    to
        opacity: 1
        -webkit-transform: none
        transform: none
        
@for $i from 1 through 7
    #top #nav-toggle:checked ~ #top-nav>nav
        li:nth-of-type(#{$i})
            animation-delay: 0.05 * $i + s