@media only screen and (max-width: $size - 1 + 'px')
    $navPadding: 15px
    #top
        +pull()
        .row
            position: relative
            >.div
                padding-left: 0
                padding-right: 0
        nav
            position: fixed
            top: 0
            left: -300px
            height: 100%
            width: 75%
            max-width: 300px
            background: #fff
            z-index: 999999999
            overflow: auto
            transition: 0.3s
            &.open 
                left: 0
            li
                position: relative
                display: (block !important)
                a
                    display: block
                    padding-top: 11px
                    padding-bottom: 11px
                    line-height: 1.2em
                    border-bottom: 1px solid $color-bg
                    padding-right: $navPadding
                    white-space: initial
                &.menu-item-has-children
                    > a
                        padding-right: 44px
            >ul
                >li
                    a
                        padding-left: $navPadding
                    >ul
                        position: relative
                        >li
                            >a
                                padding-left: $navPadding * 2
                            >ul
                                position: relative
                                left: 0
                                >li
                                    >a
                                        padding-left: $navPadding * 3